<html>
<head>
    <meta charset="utf-8">
    <title>GoWire</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layui/css/admin.css" media="all">
    <link rel="stylesheet" href="/static/layui/css/login.css" media="all">
</head>

<body>

    <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

        <div class="layadmin-user-login-main">
            <div class="layadmin-user-login-box layadmin-user-login-header">
                <h2>欢迎登录</h2>
            </div>
            <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                        for="LAY-user-login-username"></label>
                    <input type="text" name="username" id="LAY-user-login-username" lay-verify="required"
                        placeholder="昵称 (admin)" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                        for="LAY-user-login-password"></label>
                    <input type="password" name="password" id="LAY-user-login-password" lay-verify="required"
                        placeholder="密码 (123123)" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-xs7">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"></label>
                            <input type="text" name="vercode" lay-verify="required"
                                placeholder="图形验证码" class="layui-input">
                        </div>
                        <div class="layui-col-xs5">
                            <div style="margin-left: 10px;">
                                <img src="" id="captchaimg" lay-active="captcha" class="layadmin-user-login-codeimg">
                                <input  id="captid" type="hidden" name="captid" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">登 入</button>
                </div>
                <div class="layui-trans layui-form-item layadmin-user-login-other">
                    <label>社交账号登入</label>
                    <a href="javascript:;"><i class="layui-icon layui-icon-login-qq"></i></a>
                    <a href="javascript:;"><i class="layui-icon layui-icon-login-wechat"></i></a>
                    <a href="javascript:;"><i class="layui-icon layui-icon-login-weibo"></i></a>

                    <a href="/register" class="layadmin-user-jump-change layadmin-link">注册帐号</a>
                </div>
            </div>
        </div>

        <div class="layui-trans layadmin-user-login-footer">
            <p>
            <a href="https://github.com/Misterloveb/gowire" target="_blank" >
                <i class="layui-icon layui-icon-github"></i>
                <i class="layui-icon layui-icon-heart-fill" style="color: red"></i>
                欢迎star
                <i class="layui-icon layui-icon-heart-fill" style="color: red"></i></a>
            </p>
        </div>
    </div>

    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script>
        window.onload = function(){
            $.ajax({
                url: '/captcha',
                type: 'POST',
                success: function (res) {
                    id = res.id;
                    b64s = res.b64s;
                    $('#captchaimg').attr('src', b64s)
                    $('#captid').attr('value', id)
                }
            });
        }
        layui.config({
            base: '/static/layui/', //静态资源所在路径
        }).use(['util'], function () {
            var form = layui.form, util = layui.util


            form.render();
            
            //提交
            form.on('submit(LAY-user-login-submit)', function (obj) {
                //请求登入接口
                $.ajax({
                    url: '/login',
                    type: 'POST',
                    data: obj.field,
                    success: function (res) {
                        if (res.status) {
                            //TODO 请求成功后，写入 access_token
                            // layui.data(setter.tableName, {
                            //     key: setter.request.tokenName
                            //     , value: res.data.access_token
                            // });
                            layer.msg('登录成功', {
                                offset: '15px'
                                , icon: 1
                                , time: 2000
                            }, function () {
                                window.location.href = "/"
                                return
                            });
                        }else{
                            layer.msg('登录失败'+res.msg, {
                                offset: '15px'
                                , icon: 2
                                , time: 2000
                            }, function () {
                                $.ajax({
                                    url: '/captcha',
                                    type: 'POST',
                                    success: function (res) {
                                        id = res.id;
                                        b64s = res.b64s;
                                        $('#captchaimg').attr('src', b64s)
                                        $('#captid').attr('value', id)
                                    }
                                });
                            });
                        }
                    }
                });
            });
            util.event('lay-active', {
                captcha: function (obj) {
                   $.ajax({
                        url: '/captcha',
                        type: 'POST',
                        success: function (res) {
                            id = res.id;
                            b64s = res.b64s;
                            $('#captchaimg').attr('src', b64s)
                            $('#captid').attr('value', id)
                        }
                    });
                }
            });
        });
    </script>
</body>

</html>