

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GoWire</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/static/layui/css/admin.css" media="all">
  <link rel="stylesheet" href="/static/layui/css/login.css" media="all">
</head>
<body>


  <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main">
      <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2>欢迎注册</h2>
        <p></p>
      </div>
      <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-nickname"></label>
          <input type="text" name="nickname" id="LAY-user-login-nickname" lay-verify="required" maxlength="60" placeholder="昵称"
            class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
          <input type="password" name="password" id="LAY-user-login-password" lay-verify="required" placeholder="密码" class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-repass"></label>
          <input type="password" name="repass" id="LAY-user-login-repass" lay-verify="required" placeholder="确认密码" class="layui-input">
        </div>
        
        <div class="layui-form-item">
          <input type="checkbox" name="agreement" lay-skin="primary" title="同意用户协议" checked>
        </div>
        <div class="layui-form-item">
          <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-reg-submit">注 册</button>
        </div>
        <div class="layui-trans layui-form-item layadmin-user-login-other">
          <label>社交账号注册</label>
          <a href="javascript:;"><i class="layui-icon layui-icon-login-qq"></i></a>
          <a href="javascript:;"><i class="layui-icon layui-icon-login-wechat"></i></a>
          <a href="javascript:;"><i class="layui-icon layui-icon-login-weibo"></i></a>
          
          <a href="/login" class="layadmin-user-jump-change layadmin-link layui-hide-xs">用已有帐号登入</a>
          <a href="/login" class="layadmin-user-jump-change layadmin-link layui-hide-sm layui-show-xs-inline-block">登入</a>
        </div>
      </div>
    </div>
    
    <div class="layui-trans layadmin-user-login-footer">

      <p>
        <a href="https://github.com/Misterloveb/gowire" target="_blank" >
          <i class="layui-icon layui-icon-github"></i>
          <i class="layui-icon layui-icon-heart-fill" style="color: red"></i>
          欢迎star
          <i class="layui-icon layui-icon-heart-fill" style="color: red"></i></a>
      </p>
     
    </div>

  </div>

  <script src="/static/layui/layui.js"></script>
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script>
  layui.config({
    base: '/static/layui/' //静态资源所在路径
  }).use([], function(){
    var form = layui.form

    form.render();

    //提交
    form.on('submit(LAY-user-reg-submit)', function(obj){
      var field = obj.field;
      
      //确认密码
      if(field.password !== field.repass){
        return layer.msg('两次密码输入不一致');
      }
      
      //是否同意用户协议
      if(!field.agreement){
        return layer.msg('你必须同意用户协议才能注册');
      }
      
      //请求接口
      $.ajax({
        url: '/register',
        data: field,
        type: 'POST',
        success: function (res) {
          if (res.status) {
            layer.msg('注册成功', {
              offset: '15px'
              , icon: 1
              , time: 1000
            },function () {
              window.location = "/login"
            });
          } else {
            layer.msg('注册失败', {
              offset: '15px'
              , icon: 2
              , time: 1000
            });
          }
        }
      });
      return false;
    });
  });
  </script>
</body>
</html>